# The Echo Nest Data

> the official user data collection for the Million Song Dataset

> Binarizing the listen counts in the Million Song Dataset

In [1]:
# Import dependency to create panda's dataframe

import pandas as pd

In [2]:
# Load the data into pandas dataframe

listen_count = pd.read_csv('../data/train_triplets.txt', 
                           header=None, delimiter='\t')

In [3]:
# Print preview 
listen_count[:5]

                                          0                   1  2
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995  1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9  1
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B  2
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22  1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494  1

In [4]:
# Only non-zero counts are included.
# To binarize the count, we just need to set the entire count column to 1.

listen_count[2]= 1

In [5]:
# Print preview
listen_count[:5]

                                          0                   1  2
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAKIMP12A8C130995  1
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9  1
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B  1
3  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22  1
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494  1

> This is an example where we engineered the target variable of the model.